openapi: '3.0.3'
info:
  title: Postcodes.io
  version: '1.0.0'
  description: |
    Postcodes.io allows UK postcode data to be queried over a JSON HTTP API.

    Postcodes.io is an open sourced project maintained by Ideal Postcodes.

    It is a free resource, allowing developers to search, reverse geocode and extract UK postcode and associated data.
  license:
    name: MIT
  contact:
    name: Ideal Postcodes
    url: https://postcodes.io/
  x-logo:
    url: 'https://stevegoossens.github.io/images/ideal-postcodes/logo-original.png'
    backgroundColor: '#05326d'
    altText: 'Ideal Postcodes logo'
servers:
  - url: https://api.postcodes.io
    description: Public API
components:
  schemas:
    Geolocation:
      required:
        - latitude
        - longitude
      properties:
        latitude:
          $ref: '#/components/schemas/latitude'
        longitude:
          $ref: '#/components/schemas/longitude'
        filter:
          $ref: '#/components/schemas/filter'
        limit:
          $ref: '#/components/schemas/limit'
        radius:
          $ref: '#/components/schemas/radius'
        widesearch:
          type: boolean
          description: |
            Search up to 20km radius, but subject to a maximum of 10 results
    OutcodeData:
      description: |
        ### Outcode Data (Ordnance Survey Postcode Directory Dataset)

        Data returned by the `/outcodes` API
      properties:
        admin_county:
          type: array
          description: |
            ### County
            
            The current counties under the outcode.
          items:
            $ref: '#/components/schemas/admin_county'
        admin_district:
          type: array
          description: |
            ### District
            
            The current district/unitary authorites under the outcode.
          items:
            $ref: '#/components/schemas/admin_district'
        admin_ward:
          type: array
          description: |
            ### Ward
            
            The current administrative/electoral areas under the outcode
          items:
            $ref: '#/components/schemas/admin_ward'
        country:
          type: array
          description: |
            ### Country
            
            The countries included in the outcode.
          items:
            $ref: '#/components/schemas/country'
        eastings:
          $ref: '#/components/schemas/eastings'
        latitude:
          $ref: '#/components/schemas/latitude_nullable'
        longitude:
          $ref: '#/components/schemas/longitude_nullable'
        northings:
          $ref: '#/components/schemas/northings'
        outcode:
          $ref: '#/components/schemas/outcode'
        parish:
          type: array
          description: |
            ### Parish (England)/community (Wales)
            
            The parishes included in the outcode.
          items:
            $ref: '#/components/schemas/parish'
        parliamentary_constituency:
          type: array
          items:
            $ref: '#/components/schemas/parliamentary_constituency'
    PostcodeData:
      description: |
        ### Postcode Data (Ordnance Survey Postcode Directory Dataset)

        Data points returned by the `/postcodes` and `/outcodes` API

        Note: Some fields may be null if not applicable or populated.
      properties:
        admin_county:
          $ref: '#/components/schemas/admin_county'
        admin_district:
          $ref: '#/components/schemas/admin_district'
        admin_ward:
          $ref: '#/components/schemas/admin_ward'
        ccg:
          $ref: '#/components/schemas/ccg'
        ced:
          $ref: '#/components/schemas/ced'
        codes:
          description: |
            ### Returns an ID or Code associated with the postcode
            
            Typically, these are a 9 character code known as an ONS Code or GSS Code. This is currently only available for districts, parishes, counties, CCGs, NUTS and wards.
          properties:
            admin_county:
              $ref: '#/components/schemas/admin_county'
            admin_district:
              $ref: '#/components/schemas/admin_district'
            admin_ward:
              $ref: '#/components/schemas/admin_ward'
            ccg:
              $ref: '#/components/schemas/ccg'
            ccg_id:
              $ref: '#/components/schemas/ccg_code'
            ced:
              $ref: '#/components/schemas/ced'
            lau2:
              type: string
              nullable: true
              description: The LAU2 code associated with the postcode.
            lsoa:
              $ref: '#/components/schemas/lsoa'
            msoa:
              $ref: '#/components/schemas/msoa'
            nuts:
              type: string
              nullable: true
              description: The ITL code associated with the postcode.
            parish:
              $ref: '#/components/schemas/parish'
            parliamentary_constituency:
              $ref: '#/components/schemas/parliamentary_constituency'
            pfa:
              $ref: '#/components/schemas/pfa'
        country:
          $ref: '#/components/schemas/country'
        date_of_introduction:
          $ref: '#/components/schemas/date_of_introduction'
        eastings:
          $ref: '#/components/schemas/eastings'
        european_electoral_region:
          $ref: '#/components/schemas/european_electoral_region'
        incode:
          $ref: '#/components/schemas/incode'
        latitude:
          $ref: '#/components/schemas/latitude_nullable'
        longitude:
          $ref: '#/components/schemas/longitude_nullable'
        lsoa:
          $ref: '#/components/schemas/lsoa'
        msoa:
          $ref: '#/components/schemas/msoa'
        nhs_ha:
          $ref: '#/components/schemas/nhs_ha'
        northings:
          $ref: '#/components/schemas/northings'
        nuts:
          $ref: '#/components/schemas/nuts'
        outcode:
          $ref: '#/components/schemas/outcode'
        parish:
          $ref: '#/components/schemas/parish'
        parliamentary_constituency:
          $ref: '#/components/schemas/parliamentary_constituency'
        pfa:
          $ref: '#/components/schemas/pfa'
        postcode:
          $ref: '#/components/schemas/postcode'
        primary_care_trust:
          $ref: '#/components/schemas/primary_care_trust'
        quality:
          $ref: '#/components/schemas/quality'
        region:
          $ref: '#/components/schemas/region'
    PostcodeDataReverseGeocoding:
      allOf:
        - $ref: '#/components/schemas/PostcodeData'
        - properties:
            distance:
              type: number
              format: float
              description: |
                Distance in metres from specified postode
    ScottishPostcodeData:
      description: |
        ### Scottish Postcode Data (Scottish Postcode Directory)

        Data returned by the `/scotland/*` APIs
      properties:
        codes:
          description: |
            ### Returns an ID or Code associated with the postcode
            
            Typically, these are a 9 character code known as an ONS Code or GSS Code.
          properties:
            scottish_parliamentary_constituency:
              $ref: '#/components/schemas/scottish_parliamentary_constituency'
        postcode:
          type: string
          description: |
            ### Postcode
            
            Royal Mail postcode.
        scottish_parliamentary_constituency:
          $ref: '#/components/schemas/scottish_parliamentary_constituency_nullable'
    ServerResponseBody:
      properties:
        status:
          type: integer
          format: int32
          description: HTTP Status Code
    ServerErrorResponseBody:
      allOf:
        - $ref: '#/components/schemas/ServerResponseBody'
        - properties:
            error:
              type: string
    TerminatedPostcodeData:
      description: |
        ###  Terminated Postcode Data (Ordnance Survey Postcode Directory Dataset)

        Data returned by the `/terminated_postcodes/*` APIs
      properties:
        latitude:
          $ref: '#/components/schemas/latitude'
        longitude:
          $ref: '#/components/schemas/longitude'
        month_terminated:
          type: integer
          format: int32
          description: |
            ### Termination month
            
            Month of termination of a postcode. 1-January, 2-February ... 12-December.
        postcode:
          type: string
          description: |
            ### Postcode
            
            All currently terminated postcodes within the United Kingdom, the Channel Islands and the Isle of Man, received every 3 months from Royal Mail. 2, 3 or 4-character outward code, single space and 3-character inward code.
        year_terminated:
          type: integer
          format: int32
          description: |
            ### Termination year
            
            Year of termination of a postcode.
    PlacesData:
      description: |
        ### Places Data (Ordnance Survey Open Names Dataset)

        Data returned by the /places API

        Note: Some fields may be null if not applicable or populated.
      properties:
        code:
          $ref: '#/components/schemas/code'
        country:
          type: string
          description: |
            ### Country
            
            OS Places relates to Great Britain only. i.e. `England`, `Scotland`, `Wales`.
        county_unitary:
          type: string
          nullable: true
          description: |
            ### Administrative Area
            
            The name of the County (non-metropolitan or Metropolitan), Unitary Authority or Greater London Authority administrative area that the point geometry for feature is within or nearest to.
        county_unitary_type:
          type: string
          nullable: true
          description: |
            ### Administrative Area Type
            
            Classifies the type of administrative unit.
        district_borough:
          type: string
          nullable: true
          description: |
            ### District or Borough
            
            The name of the District, Metropolitan District or London Borough administrative unit that the point geometry for the feature is within.
        district_borough_type:
          type: string
          nullable: true
          description: |
            ### Borough Type
            
            Classifies the type of administrative unit.
        eastings:
          type: integer
          format: int32
          description: |
            ### Eastings

            The Ordnance Survey postcode grid reference Easting to 1 metre resolution; blank for postcodes in the Channel Islands and the Isle of Man.
        latitude:
          $ref: '#/components/schemas/latitude'
        local_type:
          type: string
          description: |
            ### Local Type
            
            The Ordnance Survey classification for the named place being represented by the specific feature, e.g. `City`, `Town`, `Village`, `Hamlet`, `Other Settlement`, `Suburban Area`.
        longitude:
          $ref: '#/components/schemas/longitude'
        max_eastings:
          $ref: '#/components/schemas/max_min_northings_max_min_eastings'
        min_eastings:
          $ref: '#/components/schemas/max_min_northings_max_min_eastings'
        max_northings:
          $ref: '#/components/schemas/max_min_northings_max_min_eastings'
        min_northings:
          $ref: '#/components/schemas/max_min_northings_max_min_eastings'
        name_1:
          type: string
          description: |
            ### Name
            
            The proper noun that applies to the real world entity. Names that are prefixed by the definite article are not formatted for alphabetical sorting, that is, ‘The Pennines’ not ‘Pennines, The’.
        name_1_lang:
          $ref: '#/components/schemas/name_lang'
        name_2:
          type: string
          nullable: true
          description: |
            ### Name (in case of multiple languages)
            
            The proper noun that applies to the real world entity. Names that are prefixed by the definite article are not formatted for alphabetical sorting, that is, ‘The Pennines’ not ‘Pennines, The’.
        name_2_lang:
          $ref: '#/components/schemas/name_lang'
        northings:
          type: integer
          format: int32
          description: |
            ### Northings

            The Ordnance Survey postcode grid reference Northing to 1 metre resolution; blank for postcodes in the Channel Islands and the Isle of Man.
        outcode:
          $ref: '#/components/schemas/outcode'
        region:
          type: string
          description: |
            ### Region
            
            The name of the European Region (was Government O ice Region) that the point geometry for the feature is within or nearest to.
    admin_county:
      type: string
      nullable: true
      description: |
        ### County

        The current county to which the postcode has been assigned.
    admin_district:
      type: string
      nullable: true
      description: |
        ### District

        The current district/unitary authority to which the postcode has been assigned.
    admin_ward:
      type: string
      nullable: true
      description: |
        ### Ward

        The current administrative/electoral area to which the postcode has been assigned.
    BulkPostcodeLookupResultItem:
      required:
        - query
        - result
      properties:
        query:
          $ref: '#/components/schemas/postcode'
        result:
          allOf:
            - type: object
              nullable: true
            - $ref: '#/components/schemas/PostcodeData'
    BulkReverseGeocodingResultItem:
      required:
        - query
        - result
      properties:
        query:
          $ref: '#/components/schemas/Geolocation'
        result:
          type: array
          items:
            allOf:
              - type: object
                nullable: true
              - $ref: '#/components/schemas/PostcodeDataReverseGeocoding'
    ccg:
      type: string
      nullable: true
      description: |
        ### Sub ICB Location (LOC)/ Local Health Board (LHB)/ Community Health Partnership (CHP)/ Local Commissioning Group (LCG)/ Primary Healthcare Directorate (PHD)

        The code for the Sub ICB Locations in England, LHBs in Wales, CHPs in Scotland, LCG in Northern Ireland and PHD in the Isle of Man; there are no equivalent areas in the Channel Islands. This was formerly Clinical Commissioning Group. From July 2022, CCGs were replaced by Sub-ICB locations.
    ccg_code:
      type: string
      nullable: true
      description: CCG Short Code. e.g. "07N".
    ced:
      type: string
      nullable: true
      description: |
        ### County Electoral District

        The county electoral division code for each English postcode. Pseudo codes are included for the remainder of the UK. The field will be null for English postcodes with no grid reference. English county councils use county electoral divisions (CED) to elect councillors. These CEDs must be confined within district boundaries, but need not be based on whole electoral wards. The only exceptions are the Isles of Scilly and the Greater London Authority (GLA). CEDs do not exist within UAs.
    code:
      type: string
      description: |
        ### code
        
        A unique identifier that enables records to be identified easily. The identifier will be persistent for all LocalTypes except Section of Named Road and Section of Numbered Road.
    country:
      type: string
      description: |
        ### Country

        The country (i.e. one of the four constituent countries of the United Kingdom or the Channel Islands or the Isle of Man) to which each postcode is assigned.
    date_of_introduction:
      type: string
      nullable: true
      description: |
        TODO: undocumented
    eastings:
      type: integer
      format: int32
      nullable: true
      description: |
        ### Eastings

        The Ordnance Survey postcode grid reference Easting to 1 metre resolution. Grid references for postcodes in Northern Ireland relate to the Irish Grid system. May be null if geolocation not available.
    european_electoral_region:
      type: string
      nullable: true
      description: |
        ### European Electoral Region

        The European Electoral Region code for each postcode.
    filter:
      description: |
        A comma separated whitelist of attributes to be returned in the result object(s), e.g. `filter=postcode,longitude,latitude`. `null` responses will continue to return `null`. If no attributes match the result object, an empty object is returned 
      type: string
    incode:
      type: string
      description: |
        ### Inward Code

        The inward part is the part of the postcode after the single space in the middle. It is three characters long. The inward code assists in the delivery of post within a postal district. Examples of inward codes include "0NY", "7GZ", "7HF", or "8JQ".
    latitude_nullable:
      type: number
      format: double
      nullable: true
      description: |
        ### Latitude

        The WGS84 latitude given the Postcode's national grid reference. May be null if geolocation not available.
    latitude:
      type: number
      format: double
      description: |
        ### Latitude

        The WGS84 latitude given the Postcode's national grid reference.
    limit:
      type: integer
      format: int32
      description: |
        Limits number of postcodes matches to return. Defaults to 10. Needs to be less than 100.
    longitude:
      type: number
      format: double
      description: |
        ### Longitude

        The WGS84 longitude given the Postcode's national grid reference.
    longitude_nullable:
      type: number
      format: double
      nullable: true
      description: |
        ### Longitude

        The WGS84 longitude given the Postcode's national grid reference. May be null if geolocation not available.
    lsoa:
      type: string
      nullable: true
      description: |
        ### 2011 Census Lower Layer Super Output Area (LSOA)

        The 2011 Census lower layer SOA code for England and Wales, SOA code for Northern Ireland and data zone code for Scotland.
    max_min_northings_max_min_eastings:
      type: integer
      format: int32
      description: |
        ### Maximum & Minimum, Northings & Eastings
        
        Bounding box or Minimum Bounding Rectangle (MBR) for roads and settlements. For Settlements and Sections of Named and Numbered Roads, the MBR gives a representation of the extent of these features and is not snapped to the real world extent. 
    msoa:
      type: string
      nullable: true
      description: |
        ### 2011 Census Middle Layer Super Output Area (MSOA)

        The 2011 Census middle layer SOA (MSOA) code for England and Wales and intermediate zone for Scotland.
    name_lang:
      type: string
      nullable: true
      description: |
        ### Language of Name
        
        The language type is only set where more than one name exists, e.g. cym (Welsh), eng (English), gla (Scottish Gaelic).
    nhs_ha:
      type: string
      nullable: true
      description: |
        ### Strategic Health Authority

        The health area code for the postcode.
    northings:
      type: integer
      format: int32
      nullable: true
      description: |
        ### Northings

        The Ordnance Survey postcode grid reference Northing to 1 metre resolution. Grid references for postcodes in Northern Ireland relate to the Irish Grid system. May be null if geolocation not available.
    nuts:
      type: string
      nullable: true
      description: |
        ### International Terratorial Levels (ITL) (Former Nomenclature of Units for Territorial Statistics (NUTS)

        The national LAU1-equivalent code for each postcode. Pseudo codes are included for Channel Islands and Isle of Man. The field will otherwise be blank for postcodes with no grid reference.

        As of May 2021. NUTS has changed to International Territorial Levels (ITL). Postcodes.io will report ITL in `nuts` and `codes.nuts` to preserve backwards compatibility.

        Following the UK's withdrawal from the EU, a new UK-managed international statistical geography - ITL (International Territorial Levels) - was introduced from 1st January 2021, replacing the former NUTS classification. They align with international standards, enabling comparability both over time and internationally. To ensure continued alignment, the ITLs mirror the NUTS system. They also follow a similar review timetable - every three years.

        NUTS is a hierarchical classification of spatial units that provides a breakdown of the European Union’s territory for producing regional statistics that are comparable across the Union.

        The ITL area classification in the UK comprises current national administrative and electoral areas, except in Scotland where some ITL areas comprise whole and/or part Local Enterprise Regions.

        The ONSPD contains the LAU1 code (9-character LAD/UA code for England, Wales and Northern Ireland and 'S30' code for Scotland). A comprehensive lookup of LAU and ITL codes is included with the accompanying metadata.
    outcode:
      type: string
      description: |
        ### Outward Code

        The outward code is the part of the postcode before the single space in the middle. It is between two and four characters long. A few outward codes are non-geographic, not divulging where mail is to be sent. Examples of outward codes include "L1", "W1A", "RH1", "RH10" or "SE1P".
    parish:
      type: string
      nullable: true
      description: |
        ### Parish

        The smallest type of administrative area in England is the parish (also known as 'civil parish'); the equivalent units in Wales are communities.
    parliamentary_constituency:
      type: string
      nullable: true
      description: |
        ### Westminster Parliamentary Constituency

        The Westminster Parliamentary Constituency code for each postcode.
    pfa:
      type: string
      description: |
        TODO: undocumented
    postcode:
      type: string
      description: |
        ### Postcode

        All current (‘live’) postcodes within the United Kingdom, the Channel Islands and the Isle of Man, received monthly from Royal Mail. 2, 3 or 4-character outward code, single space and 3-character inward code.
    primary_care_trust:
      type: string
      nullable: true
      description: |
        ### Primary Care Trust (PCT)

        The code for the Primary Care areas in England, LHBs in Wales, CHPs in Scotland, LCG in Northern Ireland and PHD in the Isle of Man; there are no equivalent areas in the Channel Islands. Care Trust/ Care Trust Plus (CT)/ local health board (LHB)/ community health partnership (CHP)/ local commissioning group (LCG)/ primary healthcare directorate (PHD).
    quality:
      type: integer
      format: int32
      description: |
        ### Positional Quality

        Shows the status of the assigned grid reference.

        - 1 = within the building of the matched address closest to the postcode mean
        - 2 = as for status value 1, except by visual inspection of Landline maps (Scotland only)
        - 3 = approximate to within 50m
        - 4 = postcode unit mean (mean of matched addresses with the same postcode, but not snapped to a building)
        - 5 = imputed by ONS, by reference to surrounding postcode grid references
        - 6 = postcode sector mean, (mainly | PO Boxes)
        - 8 = postcode terminated prior to Gridlink® initiative, last known ONS postcode grid reference1
        - 9 = no grid reference available
    query:
      type: string
      description: Postcode search (prefix match)
    radius:
      type: integer
      format: int32
      description: |
        Limits number of postcodes matches to return. Defaults to 100m. Needs to be less than 2,000m. 
    region:
      type: string
      nullable: true
      description: |
        ### Region

        The Region code for each postcode. The nine GORs were abolished on 1 April 2011 and are now known as ‘Regions’. They were the primary statistical subdivisions of England and also the areas in which the Government Offices for the Regions fulfilled their role. Each GOR covered a number of local authorities.
    scottish_parliamentary_constituency:
      type: string
      description: |
        ### Scottish Parliamentary Constituency

        2014 Scottish Parliamentary Constituency.
    scottish_parliamentary_constituency_nullable:
      type: string
      nullable: true
      description: |
        ### Scottish Parliamentary Constituency

        2014 Scottish Parliamentary Constituency.
paths:
  /outcodes:
    get:
      operationId: outcodeReverseGeocoding
      tags:
        - Outcodes
      summary: Outcode Reverse Geocoding
      description: |
        Returns nearest outcodes for a given longitude and latitude.
      parameters:
        - in: query
          required: true
          name: lon
          schema:
            $ref: '#/components/schemas/longitude'
        - in: query
          required: true
          name: lat
          schema:
            $ref: '#/components/schemas/latitude'
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
          description: |
            Limits number of outcodes matches to return. Defaults to 10. Needs to be less than 100.
        - in: query
          name: radius
          required: false
          schema:
            type: integer
            format: int32
          description: |
            Limits number of outcodes matches to return. Defaults to 5000m. Needs to be less than 25,000m.
      x-codeSamples:
        - lang: JavaScript
          label: '@stevegoossens/postcodes.io (JS/TS)'
          source: |
            const lon = -2.302836
            const lat = 53.455654
            const outcodeDataList = await postcodesIO
                .outcodeReverseGeocoding(lon, lat)
        - lang: JavaScript
          label: '@stevegoossens/postcodes.io (JS/TS)'
          source: |
            const lon = -2.302836
            const lat = 53.455654
            const outcodeDataList = await postcodesIO
                .outcodeReverseGeocoding(lon, lat, {limit: 3})
      responses:
        '200':
          description: List of Outcode Data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponseBody'
                  - properties:
                      result:
                        type: array
                        nullable: true
                        items:
                          $ref: '#/components/schemas/OutcodeData'
              examples:
                found:
                  summary: Found
                  value:
                    {
                        "status": 200,
                        "result": [
                            {
                                "outcode": "L16",
                                "longitude": -2.8875342145749,
                                "latitude": 53.39873448583,
                                "northings": 389468,
                                "eastings": 341084,
                                "admin_district": [
                                    "Knowsley",
                                    "Liverpool"
                                ],
                                "parish": [
                                    "Knowsley, unparished area",
                                    "Liverpool, unparished area"
                                ],
                                "admin_county": [],
                                "admin_ward": [
                                    "Woolton",
                                    "Belle Vale",
                                    "Roby",
                                    "Greenbank",
                                    "Church",
                                    "Childwall"
                                ],
                                "country": [
                                    "England"
                                ],
                                "parliamentary_constituency": [
                                    "Liverpool, Wavertree",
                                    "Garston and Halewood",
                                    "Liverpool, Riverside",
                                    "Knowsley"
                                ]
                            },
                            {
                                "outcode": "L15",
                                "longitude": -2.92057201265823,
                                "latitude": 53.3975726793249,
                                "northings": 389366,
                                "eastings": 338885,
                                "admin_district": [
                                    "Liverpool"
                                ],
                                "parish": [
                                    "Liverpool, unparished area"
                                ],
                                "admin_county": [],
                                "admin_ward": [
                                    "Picton",
                                    "Greenbank",
                                    "Church",
                                    "Wavertree",
                                    "Childwall"
                                ],
                                "country": [
                                    "England"
                                ],
                                "parliamentary_constituency": [
                                    "Liverpool, Wavertree",
                                    "Liverpool, Riverside"
                                ]
                            },
                            {
                                "outcode": "L18",
                                "longitude": -2.90821618411553,
                                "latitude": 53.3805520054152,
                                "northings": 387462,
                                "eastings": 339683,
                                "admin_district": [
                                    "Liverpool"
                                ],
                                "parish": [
                                    "Liverpool, unparished area"
                                ],
                                "admin_county": [],
                                "admin_ward": [
                                    "Woolton",
                                    "Allerton and Hunts Cross",
                                    "Cressington",
                                    "Mossley Hill",
                                    "Greenbank",
                                    "Church"
                                ],
                                "country": [
                                    "England"
                                ],
                                "parliamentary_constituency": [
                                    "Liverpool, Wavertree",
                                    "Garston and Halewood",
                                    "Liverpool, Riverside"
                                ]
                            },
                            {
                                "outcode": "L70",
                                "longitude": -2.9567696,
                                "latitude": 53.4040682666667,
                                "northings": 390122,
                                "eastings": 336487,
                                "admin_district": [
                                    "Knowsley",
                                    "Sefton",
                                    "Liverpool"
                                ],
                                "parish": [
                                    "Knowsley, unparished area",
                                    "Sefton, unparished area",
                                    "Liverpool, unparished area"
                                ],
                                "admin_county": [],
                                "admin_ward": [
                                    "Netherton and Orrell",
                                    "Speke-Garston",
                                    "Riverside",
                                    "Central",
                                    "Northwood"
                                ],
                                "country": [
                                    "England"
                                ],
                                "parliamentary_constituency": [
                                    "Garston and Halewood",
                                    "Liverpool, Riverside",
                                    "Knowsley",
                                    "Bootle"
                                ]
                            },
                            {
                                "outcode": "L12",
                                "longitude": -2.89577164805414,
                                "latitude": 53.4349747614213,
                                "northings": 393506,
                                "eastings": 340587,
                                "admin_district": [
                                    "Liverpool"
                                ],
                                "parish": [
                                    "Liverpool, unparished area"
                                ],
                                "admin_county": [],
                                "admin_ward": [
                                    "Yew Tree",
                                    "Croxteth",
                                    "West Derby",
                                    "Greenbank",
                                    "Old Swan",
                                    "Wavertree",
                                    "Clubmoor",
                                    "Childwall",
                                    "Tuebrook and Stoneycroft",
                                    "Knotty Ash"
                                ],
                                "country": [
                                    "England"
                                ],
                                "parliamentary_constituency": [
                                    "Liverpool, Wavertree",
                                    "Liverpool, Riverside",
                                    "Liverpool, Walton",
                                    "Liverpool, West Derby"
                                ]
                            }
                        ]
                    }
                foundLimit3:
                  summary: Found (limit=3)
                  value:
                    {
                        "status": 200,
                        "result": [
                            {
                                "outcode": "L16",
                                "longitude": -2.8875342145749,
                                "latitude": 53.39873448583,
                                "northings": 389468,
                                "eastings": 341084,
                                "admin_district": [
                                    "Knowsley",
                                    "Liverpool"
                                ],
                                "parish": [
                                    "Knowsley, unparished area",
                                    "Liverpool, unparished area"
                                ],
                                "admin_county": [],
                                "admin_ward": [
                                    "Woolton",
                                    "Belle Vale",
                                    "Roby",
                                    "Greenbank",
                                    "Church",
                                    "Childwall"
                                ],
                                "country": [
                                    "England"
                                ],
                                "parliamentary_constituency": [
                                    "Liverpool, Wavertree",
                                    "Garston and Halewood",
                                    "Liverpool, Riverside",
                                    "Knowsley"
                                ]
                            },
                            {
                                "outcode": "L15",
                                "longitude": -2.92057201265823,
                                "latitude": 53.3975726793249,
                                "northings": 389366,
                                "eastings": 338885,
                                "admin_district": [
                                    "Liverpool"
                                ],
                                "parish": [
                                    "Liverpool, unparished area"
                                ],
                                "admin_county": [],
                                "admin_ward": [
                                    "Picton",
                                    "Greenbank",
                                    "Church",
                                    "Wavertree",
                                    "Childwall"
                                ],
                                "country": [
                                    "England"
                                ],
                                "parliamentary_constituency": [
                                    "Liverpool, Wavertree",
                                    "Liverpool, Riverside"
                                ]
                            },
                            {
                                "outcode": "L18",
                                "longitude": -2.90821618411553,
                                "latitude": 53.3805520054152,
                                "northings": 387462,
                                "eastings": 339683,
                                "admin_district": [
                                    "Liverpool"
                                ],
                                "parish": [
                                    "Liverpool, unparished area"
                                ],
                                "admin_county": [],
                                "admin_ward": [
                                    "Woolton",
                                    "Allerton and Hunts Cross",
                                    "Cressington",
                                    "Mossley Hill",
                                    "Greenbank",
                                    "Church"
                                ],
                                "country": [
                                    "England"
                                ],
                                "parliamentary_constituency": [
                                    "Liverpool, Wavertree",
                                    "Garston and Halewood",
                                    "Liverpool, Riverside"
                                ]
                            }
                        ]
                    }
                nonMatchingLonLat:
                  summary: Non-matching longitude/latitude
                  value:
                    status: 200
                    result: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponseBody'
              examples:
                missingLatLon:
                  summary: Missing latitude/longitude
                  value:
                    status: 400
                    error: Invalid longitude/latitude submitted
  /outcodes/{outcode}:
    get:
      operationId: outwardCodeLookup
      tags:
        - Outcodes
      summary: Outward Code Lookup
      description: |
        Geolocation data for the centroid of the outward code specified. The outward code represents the first half of any postcode (separated by a space).
      parameters:
        - in: path
          required: true
          name: outcode
          schema:
            $ref: '#/components/schemas/outcode'
      x-codeSamples:
        - lang: JavaScript
          label: '@stevegoossens/postcodes.io (JS/TS)'
          source: |
            const outcode = 'B1'
            const outcodeData =
                await postcodesIO.outwardCodeLookup(outcode)
      responses:
        '200':
          description: Outcode Data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponseBody'
                  - properties:
                      result:
                        $ref: '#/components/schemas/OutcodeData'
              examples:
                found:
                  summary: Found
                  value:
                    {
                        "status": 200,
                        "result": {
                            "outcode": "W1A",
                            "longitude": -0.112778809815951,
                            "latitude": 51.5243793926381,
                            "northings": 182295,
                            "eastings": 531022,
                            "admin_district": [
                                "Westminster",
                                "Islington"
                            ],
                            "parish": [
                                "Islington, unparished area",
                                "Westminster, unparished area"
                            ],
                            "admin_county": [],
                            "admin_ward": [
                                "West End",
                                "Clerkenwell"
                            ],
                            "country": [
                                "England"
                            ],
                            "parliamentary_constituency": [
                                "Islington South and Finsbury",
                                "Cities of London and Westminster"
                            ]
                        }
                    }
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponseBody'
              examples:
                notFound:
                  summary: Not found
                  value:
                    status: 404
                    error: Outcode not found
  /outcodes/{outcode}/nearest:
    get:
      operationId: nearestOutcode
      tags:
        - Outcodes
      summary: Nearest Outcode
      description: |
        Returns nearest outcodes for a given outcode.
      parameters:
        - in: path
          required: true
          name: outcode
          schema:
            $ref: '#/components/schemas/outcode'
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
          description: |
            Limits number of outcodes matches to return. Defaults to 10. Needs to be less than 100.
        - in: query
          name: radius
          required: false
          schema:
            type: integer
            format: int32
          description: |
            Limits number of outcodes matches to return. Defaults to 5000m. Needs to be less than 25,000m.
      x-codeSamples:
        - lang: JavaScript
          label: '@stevegoossens/postcodes.io (JS/TS)'
          source: |
            const outcode = 'W1A'
            const outcodeDataList =
                await postcodesIO.nearestOutcode(outcode)
      responses:
        '200':
          description: List of Outcode Data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponseBody'
                  - properties:
                      result:
                        type: array
                        items:
                          $ref: '#/components/schemas/OutcodeData'
              examples:
                found:
                  summary: Found
                  value:
                    {
                        "status": 200,
                        "result": [
                            {
                                "outcode": "RH1",
                                "longitude": -0.15744158200637,
                                "latitude": 51.2374065636943,
                                "northings": 150304,
                                "eastings": 528726,
                                "admin_district": [
                                    "Tandridge",
                                    "Reigate and Banstead"
                                ],
                                "parish": [
                                    "Reigate and Banstead, unparished area",
                                    "Bletchingley",
                                    "Nutfield",
                                    "Outwood",
                                    "Salfords and Sidlow"
                                ],
                                "admin_county": [
                                    "Surrey"
                                ],
                                "admin_ward": [
                                    "Chipstead, Kingswood & Woodmansterne",
                                    "Earlswood & Whitebushes",
                                    "Bletchingley and Nutfield",
                                    "Redhill East",
                                    "South Park & Woodhatch",
                                    "Meadvale & St. John's",
                                    "Burstow, Horne and Outwood",
                                    "Hooley, Merstham & Netherne",
                                    "Horley East & Salfords",
                                    "Redhill West & Wray Common"
                                ],
                                "country": [
                                    "England"
                                ],
                                "parliamentary_constituency": [
                                    "Reigate",
                                    "East Surrey"
                                ]
                            },
                            {
                                "outcode": "RH2",
                                "longitude": -0.203043909411765,
                                "latitude": 51.23519406,
                                "northings": 149979,
                                "eastings": 525548,
                                "admin_district": [
                                    "Reigate and Banstead",
                                    "Mole Valley"
                                ],
                                "parish": [
                                    "Reigate and Banstead, unparished area",
                                    "Buckland",
                                    "Leigh",
                                    "Salfords and Sidlow"
                                ],
                                "admin_county": [
                                    "Surrey"
                                ],
                                "admin_ward": [
                                    "Reigate",
                                    "Chipstead, Kingswood & Woodmansterne",
                                    "Capel, Leigh and Newdigate",
                                    "Horley West & Sidlow",
                                    "South Park & Woodhatch",
                                    "Meadvale & St. John's",
                                    "Horley East & Salfords",
                                    "Redhill West & Wray Common",
                                    "Brockham, Betchworth and Buckland"
                                ],
                                "country": [
                                    "England"
                                ],
                                "parliamentary_constituency": [
                                    "Reigate",
                                    "Mole Valley"
                                ]
                            }
                        ]
                    }
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponseBody'
              examples:
                notFound:
                  summary: Not found
                  value:
                    status: 404
                    error: Outcode not found
  /places:
    get:
      operationId: placeQuery
      tags:
        - Places
      summary: Place Query
      description: |
        Submit a place query and receive a complete list of places matches and associated data.
      parameters:
        - in: query
          name: q
          schema:
            $ref: '#/components/schemas/query'
        - in: query
          name: query
          schema:
            $ref: '#/components/schemas/query'
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
          description: |
            Limits number of places matches to return. Defaults to 10. Needs to be less than 100.
      x-codeSamples:
        - lang: JavaScript
          label: '@stevegoossens/postcodes.io (JS/TS)'
          source: |
            const query = 'adl'
            const placesDataList =
                await postcodesIO.placeQuery(query)
      responses:
        '200':
          description: List of Places Data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponseBody'
                  - properties:
                      result:
                        type: array
                        items:
                          $ref: '#/components/schemas/PlacesData'
              examples:
                adl:
                  summary: Query for "adl"
                  value:
                    {
                        "status": 200,
                        "result": [
                            {
                                "code": "osgb4000000074553835",
                                "name_1": "Adlington",
                                "name_1_lang": null,
                                "name_2": null,
                                "name_2_lang": null,
                                "local_type": "Town",
                                "outcode": "PR6",
                                "county_unitary": "Lancashire",
                                "county_unitary_type": "County",
                                "district_borough": "Chorley",
                                "district_borough_type": "District",
                                "region": "North West",
                                "country": "England",
                                "longitude": -2.597354528609,
                                "latitude": 53.6173202874495,
                                "eastings": 360582,
                                "northings": 413585,
                                "min_eastings": 359099,
                                "min_northings": 412300,
                                "max_eastings": 361435,
                                "max_northings": 414767
                            },
                            {
                                "code": "osgb4000000074543613",
                                "name_1": "Adlingfleet",
                                "name_1_lang": null,
                                "name_2": null,
                                "name_2_lang": null,
                                "local_type": "Village",
                                "outcode": "DN14",
                                "county_unitary": "East Riding of Yorkshire",
                                "county_unitary_type": "UnitaryAuthority",
                                "district_borough": null,
                                "district_borough_type": null,
                                "region": "Yorkshire and the Humber",
                                "country": "England",
                                "longitude": -0.724682993719623,
                                "latitude": 53.6785976143851,
                                "eastings": 484337,
                                "northings": 420992,
                                "min_eastings": 484107,
                                "min_northings": 420632,
                                "max_eastings": 484992,
                                "max_northings": 421299
                            },
                            {
                                "code": "osgb4000000074544422",
                                "name_1": "Adlington",
                                "name_1_lang": null,
                                "name_2": null,
                                "name_2_lang": null,
                                "local_type": "Village",
                                "outcode": "SK10",
                                "county_unitary": "Cheshire East",
                                "county_unitary_type": "UnitaryAuthority",
                                "district_borough": null,
                                "district_borough_type": null,
                                "region": "North West",
                                "country": "England",
                                "longitude": -2.12928816062687,
                                "latitude": 53.3207739728258,
                                "eastings": 391485,
                                "northings": 380435,
                                "min_eastings": 390867,
                                "min_northings": 380053,
                                "max_eastings": 391921,
                                "max_northings": 380553
                            },
                            {
                                "code": "osgb4000000074561795",
                                "name_1": "Adley Moor",
                                "name_1_lang": null,
                                "name_2": null,
                                "name_2_lang": null,
                                "local_type": "Hamlet",
                                "outcode": "SY7",
                                "county_unitary": "County of Herefordshire",
                                "county_unitary_type": "UnitaryAuthority",
                                "district_borough": null,
                                "district_borough_type": null,
                                "region": "West Midlands",
                                "country": "England",
                                "longitude": -2.91265007812378,
                                "latitude": 52.365881613655,
                                "eastings": 337954,
                                "northings": 274595,
                                "min_eastings": 337387,
                                "min_northings": 274372,
                                "max_eastings": 338451,
                                "max_northings": 274872
                            },
                            {
                                "code": "osgb4000000074565937",
                                "name_1": "Adlestrop",
                                "name_1_lang": null,
                                "name_2": null,
                                "name_2_lang": null,
                                "local_type": "Village",
                                "outcode": "GL56",
                                "county_unitary": "Gloucestershire",
                                "county_unitary_type": "County",
                                "district_borough": "Cotswold",
                                "district_borough_type": "District",
                                "region": "South West",
                                "country": "England",
                                "longitude": -1.6472595570591,
                                "latitude": 51.9412647669806,
                                "eastings": 424345,
                                "northings": 227032,
                                "min_eastings": 423981,
                                "min_northings": 226777,
                                "max_eastings": 424651,
                                "max_northings": 227277
                            }
                        ]
                    }
                mob:
                  summary: Query for "mob"
                  value:
                    {
                        "status": 200,
                        "result": [
                            {
                                "code": "osgb4000000074562255",
                                "name_1": "Moblake",
                                "name_1_lang": null,
                                "name_2": null,
                                "name_2_lang": null,
                                "local_type": "Hamlet",
                                "outcode": "CW3",
                                "county_unitary": "Cheshire East",
                                "county_unitary_type": "UnitaryAuthority",
                                "district_borough": null,
                                "district_borough_type": null,
                                "region": "North West",
                                "country": "England",
                                "longitude": -2.48370509272904,
                                "latitude": 52.9883033295363,
                                "eastings": 367626,
                                "northings": 343550,
                                "min_eastings": 367356,
                                "min_northings": 343333,
                                "max_eastings": 367856,
                                "max_northings": 343833
                            },
                            {
                                "code": "osgb4000000074342009",
                                "name_1": "Mobberley",
                                "name_1_lang": null,
                                "name_2": null,
                                "name_2_lang": null,
                                "local_type": "Village",
                                "outcode": "WA16",
                                "county_unitary": "Cheshire East",
                                "county_unitary_type": "UnitaryAuthority",
                                "district_borough": null,
                                "district_borough_type": null,
                                "region": "North West",
                                "country": "England",
                                "longitude": -2.32774940916169,
                                "latitude": 53.3134184956524,
                                "eastings": 378261,
                                "northings": 379659,
                                "min_eastings": 377504,
                                "min_northings": 379186,
                                "max_eastings": 379370,
                                "max_northings": 381489
                            },
                            {
                                "code": "osgb4000000074548266",
                                "name_1": "Mobberley",
                                "name_1_lang": null,
                                "name_2": null,
                                "name_2_lang": null,
                                "local_type": "Hamlet",
                                "outcode": "ST10",
                                "county_unitary": "Staffordshire",
                                "county_unitary_type": "County",
                                "district_borough": "Staffordshire Moorlands",
                                "district_borough_type": "District",
                                "region": "West Midlands",
                                "country": "England",
                                "longitude": -1.98911906035649,
                                "latitude": 52.9695646902482,
                                "eastings": 400828,
                                "northings": 341356,
                                "min_eastings": 400522,
                                "min_northings": 341008,
                                "max_eastings": 401022,
                                "max_northings": 341508
                            },
                            {
                                "code": "osgb4000000074810497",
                                "name_1": "Mobley",
                                "name_1_lang": null,
                                "name_2": null,
                                "name_2_lang": null,
                                "local_type": "Other Settlement",
                                "outcode": "GL13",
                                "county_unitary": "Gloucestershire",
                                "county_unitary_type": "County",
                                "district_borough": "Stroud",
                                "district_borough_type": "District",
                                "region": "South West",
                                "country": "England",
                                "longitude": -2.44514352689177,
                                "latitude": 51.6901281030108,
                                "eastings": 369326,
                                "northings": 199135,
                                "min_eastings": 369078,
                                "min_northings": 198854,
                                "max_eastings": 369578,
                                "max_northings": 199354
                            }
                        ]
                    }
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponseBody'
              examples:
                missingQuery:
                  summary: Missing query
                  value:
                    status: 400
                    error: No valid query submitted. Remember to include every parameter
  /places/{code}:
    get:
      operationId: placeLookup
      tags:
        - Places
      summary: Place Lookup
      description: |
        Find a place by OSGB code (e.g. "osgb4000000074564391"). Returns all available data if found. Returns 404 if place does not exist.
      parameters:
        - in: path
          required: true
          name: code
          schema:
            $ref: '#/components/schemas/code'
      x-codeSamples:
        - lang: JavaScript
          label: '@stevegoossens/postcodes.io (JS/TS)'
          source: |
            const code = 'osgb4000000074564391'
            const placesData =
                await postcodesIO.placeLookup(code)
      responses:
        '200':
          description: Places Data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponseBody'
                  - properties:
                      result:
                        $ref: '#/components/schemas/PlacesData'
              examples:
                osgb4000000074564391:
                  summary: Result for "osgb4000000074564391"
                  value:
                    {
                        "status": 200,
                        "result": {
                            "code": "osgb4000000074564391",
                            "name_1": "Kent",
                            "name_1_lang": null,
                            "name_2": null,
                            "name_2_lang": null,
                            "local_type": "Hamlet",
                            "outcode": "BH24",
                            "county_unitary": "Hampshire",
                            "county_unitary_type": "County",
                            "district_borough": "New Forest",
                            "district_borough_type": "District",
                            "region": "South East",
                            "country": "England",
                            "longitude": -1.80317162043943,
                            "latitude": 50.8926950373503,
                            "eastings": 413940,
                            "northings": 110375,
                            "min_eastings": 413668,
                            "min_northings": 110116,
                            "max_eastings": 414169,
                            "max_northings": 110616
                        }
                    }
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerErrorResponseBody'
              examples:
                notFound:
                  summary: Not found
                  value:
                    status: 404
                    error: Place not found
  /postcodes:
    get:
      operationId: reverseGeocodingOrPostcodeQuery
      tags:
        - Postcodes
      summary: Reverse Geocoding / Postcode Query
      description: |
        ### Reverse Geocoding

        Returns nearest postcodes for a given longitude and latitude.

        #### Required Query Parameters

        `lon=` Longitude

        `lat=` Latitude

        #### Optional Query Parameters

        `limit=` (not required) Limits number of postcodes matches to return. Defaults to 10. Needs to be less than 100.

        `radius=` (not required) Limits number of postcodes matches to return. Defaults to 100m. Needs to be less than 2,000m.

        `widesearch=` (not required) Search up to 20km radius, but subject to a maximum of 10 results. Since lookups over a wide area can be very expensive, we've created this method to allow you choose to make the trade off between search radius and number of results. Defaults to false. When enabled, radius and limits over 10 are ignored.

        ### Postcode Query

        Submit a postcode query and receive a complete list of postcode matches and all associated postcode data.

        This is essentially a postcode search which prefix matches and returns postcodes in sorted order (case insensitive)

        This method is space sensitive, i.e. it detects for spaces between outward and inward parts of the postcode (some examples detailed [in this issue](https://github.com/ideal-postcodes/postcodes.io/issues/44))

        The result set can either be empty or populated with up to 100 postcode entities. Either way it will always return a 200 response code

        #### Required Query Parameters

        `q=` Postcode search

        #### Optional Query Parameters

        `query=` (not required) aliases to `q=`

        `limit=` (not required) Limits number of postcodes matches to return. Defaults to 10. Needs to be less than 100. 
      parameters:
        - in: query
          name: lat
          schema:
            $ref: '#/components/schemas/latitude'
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
          description: |
            Limits number of postcodes matches to return. Defaults to 10. Needs to be less than 100.
        - in: query
          name: lon
          schema:
            $ref: '#/components/schemas/longitude'
        - in: query
          name: q
          schema:
            $ref: '#/components/schemas/query'
        - in: query
          name: query
          schema:
            $ref: '#/components/schemas/query'
        - in: query
          name: radius
          required: false
          schema:
            type: integer
            format: int32
          description: |
            Limits number of postcodes matches to return. Defaults to 100m. Needs to be less than 2,000m.
        - in: query
          name: widesearch
          required: false
          schema:
            type: boolean
          description: |
            Search up to 20km radius, but subject to a maximum of 10 results. Since lookups over a wide area can be very expensive, we've created this method to allow you choose to make the trade off between search radius and number of results. Defaults to false. When enabled, radius and limits over 10 are ignored. 
      x-codeSamples:
        - lang: JavaScript
          label: '@stevegoossens/postcodes.io (JS/TS)'
          source: |
            const lon = -1.492787
            const lat = 54.961017
            const postcodeDataList =
                await postcodesIO.reverseGeocoding(
                  lon,
                  lat
                )
        - lang: JavaScript
          label: '@stevegoossens/postcodes.io (JS/TS)'
          source: |
            const query = 'KT3'
            const postcodeDataList =
                await postcodesIO.postcodeQuery(query)
      responses:
        '200':
          description: Postcode Data (and distance)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ServerResponseBody'
                  - properties:
                      result:
                        type: array
                        nullable: true
                        items:
                          $ref: '#/components/schemas/PostcodeDataReverseGeocoding'
              examples:
                lonLat:
                  summary: Longitude and latitude (limit=2)
                  value:
                    {
                        "status": 200,
                        "result": [
                            {
                                "postcode": "RG9 4HL",
                                "quality": 1,
                                "eastings": 475602,
                                "northings": 180862,
                                "country": "England",
                                "nhs_ha": "South Central",
                                "longitude": -0.911728,
                                "latitude": 51.521625,
                                "european_electoral_region": "South East",
                                "primary_care_trust": "Oxfordshire",
                                "region": "South East",
                                "lsoa": "South Oxfordshire 019B",
                                "msoa": "South Oxfordshire 019",
                                "incode": "4HL",
                                "outcode": "RG9",
                                "parliamentary_constituency": "Henley",
                                "admin_district": "South Oxfordshire",
                                "parish": "Harpsden",
                                "admin_county": "Oxfordshire",
                                "date_of_introduction": "198001",
                                "admin_ward": "Sonning Common",
                                "ced": "Sonning Common",
                                "ccg": "NHS Buckinghamshire, Oxfordshire and Berkshire West",
                                "nuts": "Oxfordshire CC",
                                "pfa": "Thames Valley",
                                "codes": {
                                    "admin_district": "E07000179",
                                    "admin_county": "E10000025",
                                    "admin_ward": "E05012854",
                                    "parish": "E04012864",
                                    "parliamentary_constituency": "E14000742",
                                    "ccg": "E38000136",
                                    "ccg_id": "10Q",
                                    "ced": "E58001756",
                                    "nuts": "TLJ14",
                                    "lsoa": "E01028660",
                                    "msoa": "E02005976",
                                    "lau2": "E07000179",
                                    "pfa": "E23000029"
                                },
                                "distance": 0
                            },
                            {
                                "postcode": "RG9 4HH",
                                "quality": 1,
                                "eastings": 475594,
                                "northings": 180888,
                                "country": "England",
                                "nhs_ha": "South Central",
                                "longitude": -0.911818,
                                "latitude": 51.521863,
                                "european_electoral_region": "South East",
                                "primary_care_trust": "Oxfordshire",
                                "region": "South East",
                                "lsoa": "South Oxfordshire 019B",
                                "msoa": "South Oxfordshire 019",
                                "incode": "4HH",
                                "outcode": "RG9",
                                "parliamentary_constituency": "Henley",
                                "admin_district": "South Oxfordshire",
                                "parish": "Harpsden",
                                "admin_county": "Oxfordshire",
                                "date_of_introduction": "198001",
                                "admin_ward": "Sonning Common",
                                "ced": "Sonning Common",
                                "ccg": "NHS Buckinghamshire, Oxfordshire and Berkshire West",
                                "nuts": "Oxfordshire CC",
                                "pfa": "Thames Valley",
                                "codes": {
                                    "admin_district": "E07000179",
                                    "admin_county": "E10000025",
                                    "admin_ward": "E05012854",
                                    "parish": "E04012864",
                                    "parliamentary_constituency": "E14000742",
                                    "ccg": "E38000136",
                                    "ccg_id": "10Q",
                                    "ced": "E58001756",
                                    "nuts": "TLJ14",
                                    "lsoa": "E01028660",
                                    "msoa": "E02005976",
                                    "lau2": "E07000179",
                                    "pfa": "E23000029"
                                },
                                "distance": 27.20630221
                            }
                        ]
                    }
                RG9_4H:
                  summary: Query for "RG9 4H"
                  value:
                    {
                        "status": 200,
                        "result": [
                            {
                                "postcode": "RG9 4HA",
                                "quality": 1,
                                "eastings": 476803,
                                "northings": 181456,
                                "country": "England",
                                "nhs_ha": "South Central",
                                "longitude": -0.894292,
                                "latitude": 51.526803,
                                "european_electoral_region": "South East",
                                "primary_care_trust": "Oxfordshire",
                                "region": "South East",
                                "lsoa": "South Oxfordshire 017A",
                                "msoa": "South Oxfordshire 017",
                                "incode": "4HA",
                                "outcode": "RG9",
                                "parliamentary_constituency": "Henley",
                                "admin_district": "South Oxfordshire",
                                "parish": "Henley-on-Thames",
                                "admin_county": "Oxfordshire",
                                "date_of_introduction": "199512",
                                "admin_ward": "Henley-on-Thames",
                                "ced": "Henley-on-Thames",
                                "ccg": "NHS Buckinghamshire, Oxfordshire and Berkshire West",
                                "nuts": "Oxfordshire CC",
                                "pfa": "Thames Valley",
                                "codes": {
                                    "admin_district": "E07000179",
                                    "admin_county": "E10000025",
                                    "admin_ward": "E05012853",
                                    "parish": "E04012865",
                                    "parliamentary_constituency": "E14000742",
                                    "ccg": "E38000136",
                                    "ccg_id": "10Q",
                                    "ced": "E58001755",
                                    "nuts": "TLJ14",
                                    "lsoa": "E01028653",
                                    "msoa": "E02005974",
                                    "lau2": "E07000179",
                                    "pfa": "E23000029"
                                }
                            },
                            {
                                "postcode": "RG9 4HB",
                                "quality": 1,
                                "eastings": 477206,
                                "northings": 181633,
                                "country": "England",
                                "nhs_ha": "South Central",
                                "longitude": -0.888445,
                                "latitude": 51.52834,
                                "european_electoral_region": "South East",
                                "primary_care_trust": "Oxfordshire",
                                "region": "South East",
                                "lsoa": "South Oxfordshire 017A",
                                "msoa": "South Oxfordshire 017",
                                "incode": "4HB",
                                "outcode": "RG9",
                                "parliamentary_constituency": "Henley",
                                "admin_district": "South Oxfordshire",
                                "parish": "Henley-on-Thames",
                                "admin_county": "Oxfordshire",
                                "date_of_introduction": "198001",
                                "admin_ward": "Henley-on-Thames",
                                "ced": "Henley-on-Thames",
                                "ccg": "NHS Buckinghamshire, Oxfordshire and Berkshire West",
                                "nuts": "Oxfordshire CC",
                                "pfa": "Thames Valley",
                                "codes": {
                                    "admin_district": "E07000179",
                                    "admin_county": "E10000025",
                                    "admin_ward": "E05012853",
                                    "parish": "E04012865",
                                    "parliamentary_constituency": "E14000742",
                                    "ccg": "E38000136",
                                    "ccg_id": "10Q",
                                    "ced": "E58001755",
                                    "nuts": "TLJ14",
                                    "lsoa": "E01028653",
                                    "msoa": "E02005974",
                                    "lau2": "E07000179",
                                    "pfa": "E23000029"
                                }
                            },
                            {
                                "postcode": "RG9 4HD",
                                "quality": 1,
                                "eastings": 476890,
                                "northings": 181589,
                                "country": "England",
                                "nhs_ha": "South Central",
                                "longitude": -0.893009,
                                "latitude": 51.527987,
                                "european_electoral_region": "South East",
                                "primary_care_trust": "Oxfordshire",
                                "region": "South East",
                                "lsoa": "South Oxfordshire 017A",
                                "msoa": "South Oxfordshire 017",
                                "incode": "4HD",
                                "outcode": "RG9",
                                "parliamentary_constituency": "Henley",
                                "admin_district": "South Oxfordshire",
                                "parish": "Henley-on-Thames",
                                "admin_county": "Oxfordshire",
                                "date_of_introduction": "198001",
                                "admin_ward": "Henley-on-Thames",
                                "ced": "Henley-on-Thames",
                                "ccg": "NHS Buckinghamshire, Oxfordshire and Berkshire West",
                                "nuts": "Oxfordshire CC",
                                "pfa": "Thames Valley",
                                "codes": {
                                    "admin_district": "E07000179",
                                    "admin_county": "E10000025",
                                    "admin_ward": "E05012853",
                                    "parish": "E04012865",
                                    "parliamentary_constituency": "E14000742",
                                    "ccg": "E38000136",
                                    "ccg_id": "10Q",
                                    "ced": "E58001755",
                                    "nuts": "TLJ14",
                                    "lsoa": "E01028653",
                                    "msoa": "E02005974",
                                    "lau2": "E07000179",
                                    "pfa": "E23000029"
                                }
                            },
                            {
                                "postcode": "RG9 4HE",
                                "quality": 1,
                                "eastings": 476738,
                                "northings": 181504,
                                "country": "England",
                                "nhs_ha": "South Central",
                                "longitude": -0.895199,
                                "latitude": 51.527246,
                                "european_electoral_region": "South East",
                                "primary_care_trust": "Oxfordshire",
                                "region": "South East",
                                "lsoa": "South Oxfordshire 017A",
                                "msoa": "South Oxfordshire 017",
                                "incode": "4HE",
                                "outcode": "RG9",
                                "parliamentary_constituency": "Henley",
                                "admin_district": "South Oxfordshire",
                                "parish": "Henley-on-Thames",
                                "admin_county": "Oxfordshire",
                                "date_of_introduction": "201808",
                                "admin_ward": "Henley-on-Thames",
                                "ced": "Henley-on-Thames",
                                "ccg": "NHS Buckinghamshire, Oxfordshire and Berkshire West",
                                "nuts": "Oxfordshire CC",
                                "pfa": "Thames Valley",
                                "codes": {
                                    "admin_district": "E07000179",
                                    "admin_county": "E10000025",
                                    "admin_ward": "E05012853",
                                    "parish": "E04012865",
                                    "parliamentary_constituency": "E14000742",
                                    "ccg": "E38000136",
                                    "ccg_id": "10Q",
                                    "ced": "E58001755",
                                    "nuts": "TLJ14",
                                    "lsoa": "E01028653",
                                    "msoa": "E02005974",
                                    "lau2": "E07000179",
                                    "pfa": "E23000029"
                                }
                            },
                            {
                                "postcode": "RG9 4HF",
                                "quality": 1,
                                "eastings": 476975,
                                "northings": 181214,
                                "country": "England",
                                "nhs_ha": "South Central",
                                "longitude": -0.891866,
                                "latitude": 51.524605,
                                "european_electoral_region": "South East",
                                "primary_care_trust": "Oxfordshire",
                                "region": "South East",
                                "lsoa": "South Oxfordshire 019B",
                                "msoa": "South Oxfordshire 019",
                                "incode": "4HF",
                                "outcode": "RG9",
                                "parliamentary_constituency": "Henley",
                                "admin_district": "South Oxfordshire",
                                "parish": "Harpsden",
                                "admin_county": "Oxfordshire",
                                "date_of_introduction": "198001",
                                "admin_ward": "Sonning Common",
                                "ced": "Sonning Common",
                                "ccg": "NHS Buckinghamshire, Oxfordshire and Berkshire West",
                                "nuts": "Oxfordshire CC",
                                "pfa": "Thames Valley",
                                "codes": {
                                    "admin_district": "E07000179",
                                    "admin_county": "E10000025",
                                    "admin_ward": "E05012854",
                                    "parish": "E04012864",
                                    "parliamentary_constituency": "E14000742",
                                    "ccg": "E38000136",
                                    "ccg_id": "10Q",
                                    "ced": "E58001756",
                                    "nuts": "TLJ14",
                                    "lsoa": "E01028660",
                                    "msoa": "E02005976",
                                    "lau2": "E07000179",
                                    "pfa": "E23000029"
                                }
                            },
                            {
                                "postcode": "RG9 4HG",
                                "quality": 1,
                                "eastings": 476104,
                                "northings": 180799,
                                "country": "England",
                                "nhs_ha": "South Central",
                                "longitude": -0.904508,
                                "latitude": 51.520992,
                                "european_electoral_region": "South East",
                                "primary_care_trust": "Oxfordshire",
                                "region": "South East",
                                "lsoa": "South Oxfordshire 019B",
                                "msoa": "South Oxfordshire 019",
                                "incode": "4HG",
                                "outcode": "RG9",
                                "parliamentary_constituency": "Henley",
                                "admin_district": "South Oxfordshire",
                                "parish": "Harpsden",
                                "admin_county": "Oxfordshire",
                                "date_of_introduction": "198001",
                                "admin_ward": "Sonning Common",
                                "ced": "Sonning Common",
                                "ccg": "NHS Buckinghamshire, Oxfordshire and Berkshire West",
                                "nuts": "Oxfordshire CC",
                                "pfa": "Thames Valley",
                                "codes": {
                                    "admin_district": "E07000179",
                                    "admin_county": "E10000025",
                                    "admin_ward": "E05012854",
                                    "parish": "E04012864",
                                    "parliamentary_constituency": "E14000742",
                                    "ccg": "E38000136",
                                    "ccg_id": "10Q",
                                    "ced": "E58001756",
                                    "nuts": "TLJ14",
                                    "lsoa": "E01028660",
                                    "msoa": "E02005976",
                                    "lau2": "E07000179",
                                    "pfa": "E23000029"
                                }
                            },
                            {
                                "postcode": "RG9 4HH",
                                "quality": 1,
                                "eastings": 475594,
                                "northings": 180888,
                                "country": "England",
                                "nhs_ha": "South Central",
                                "longitude": -0.911818,
                                "latitude": 51.521863,
                                "european_electoral_region": "South East",
                                "primary_care_trust": "Oxfordshire",
                                "region": "South East",
                                "lsoa": "South Oxfordshire 019B",
                                "msoa": "South Oxfordshire 019",
                                "incode": "4HH",
                                "outcode": "RG9",
                                "parliamentary_constituency": "Henley",
                                "admin_district": "South Oxfordshire",
                                "parish": "Harpsden",
                                "admin_county": "Oxfordshire",
                                "date_of_introduction": "198001",
                                "admin_ward": "Sonning Common",
                                "ced": "Sonning Common",
                                "ccg": "NHS Buckinghamshire, Oxfordshire and Berkshire West",
                                "nuts": "Oxfordshire CC",
                                "pfa": "Thames Valley",
                                "codes": {
                                    "admin_district": "E07000179",
                                    "admin_county": "E10000025",
                                    "admin_ward": "E05012854",
                                    "parish": "E04012864",
                                    "parliamentary_constituency": "E14000742",
                                    "ccg": "E38000136",
                                    "ccg_id": "10Q",
                                    "ced": "E58001756",
                                    "nuts": "TLJ14",
                                    "lsoa": "E01028660",
                                    "msoa": "E02005976",
                                    "lau2": "E07000179",
                                    "pfa": "E23000029"
                                }
                            },
                            {
                                "postcode": "RG9 4HJ",
                                "quality": 1,
                                "eastings": 475528,
                                "northings": 180877,
                                "country": "England",
                                "nhs_ha": "South Central",
                                "longitude": -0.912791,
                                "latitude": 51.52177,
                                "european_electoral_region": "South East",
                                "primary_care_trust": "Oxfordshire",
                                "region": "South East",
                                "lsoa": "South Oxfordshire 019B",
                                "msoa": "South Oxfordshire 019",
                                "incode": "4HJ",
                                "outcode": "RG9",
                                "parliamentary_constituency": "Henley",
                                "admin_district": "South Oxfordshire",
                                "parish": "Harpsden",
                                "admin_county": "Oxfordshire",
                                "date_of_introduction": "198001",
                                "admin_ward": "Sonning Common",
                                "ced": "Sonning Common",
                                "ccg": "NHS Buckinghamshire, Oxfordshire and Berkshire West",
                                "nuts": "Oxfordshire CC",
                                "pfa": "Thames Valley",
                                "codes": {
                                    "admin_district": "E07000179",
                                    "admin_county": "E10000025",
                                    "admin_ward": "E05012854",
                                    "parish": "E04012864",
                                    "parliamentary_constituency": "E14000742",
                                    "ccg": "E38000136",
                                    "ccg_id": "10Q",
                                    "ced": "E58001756",
                                    "nuts": "TLJ14",
                                    "lsoa": "E01028660",
                                    "msoa": "E02005976",
                                    "lau2": "E07000179",
                                    "pfa": "E23000029"
                                }
                            },
                            {
                                "postcode": "RG9 4HL",
                                "quality": 1,
                                "eastings": 475602,
                                "northings": 180862,
                                "country": "England",
                                "nhs_ha": "South Central",
                                "longitude": -0.911728,
                                "latitude": 51.521625,
                                "european_electoral_region": "South East",
                                "primary_care_trust": "Oxfordshire",
                                "region": "South East",
                                "lsoa": "South Oxfordshire 019B",
                                "msoa": "South Oxfordshire 019",
                                "incode": "4HL",
                                "outcode": "RG9",
                                "parliamentary_constituency": "Henley",
                                "admin_district": "South Oxfordshire",
                                "parish": "Harpsden",
                                "admin_county": "Oxfordshire",
                                "date_of_introduction": "198001",
                                "admin_ward": "Sonning Common",
                                "ced": "Sonning Common",
                                "ccg": "NHS Buckinghamshire, Oxfordshire and Berkshire West",
                                "nuts": "Oxfordshire CC",
                                "pfa": "Thames Valley",
                                "codes": {
                                    "admin_district": "E07000179",
                                    "admin_county": "E10000025",
                                    "admin_ward": "E05012854",
                                    "parish": "E04012864",
                                    "parliamentary_constituency": "E14000742",
                                    "ccg": "E38000136",
                                    "ccg_id": "10Q",
                                    "ced": "E58001756",
                                    "nuts": "TLJ14",
                                    "lsoa": "E01028660",
                                    "msoa": "E02005976",
                                    "lau2": "E07000179",
                                    "pfa": "E23000029"
                                }
                            },
                            {
                                "postcode": "RG9 4HN",
                                "quality": 1,
                                "eastings": 475522,
                                "northings": 180822,
                                "country": "England",
                                "nhs_ha": "South Central",
                                "longitude": -0.91287,
                                "latitude": 51.521279,
                                "european_electoral_region": "South East",
                                "primary_care_trust": "Oxfordshire",
                                "region": "South East",
                                "lsoa": "South Oxfordshire 019B",
                                "msoa": "South Oxfordshire 019",
                                "incode": "4HN",
                                "outcode": "RG9",
                                "parliamentary_constituency": "Henley",
                                "admin_district": "South Oxfordshire",
                                "parish": "Harpsden",
                                "admin_county": "Oxfordshire",
                                "date_of_introduction": "198001",
                                "admin_ward": "Sonning Common",
                                "ced": "Sonning Common",
                                "ccg": "NHS Buckinghamshire, Oxfordshire and Berkshire West",
                                "nuts": "Oxfordshire CC",
                                "pfa": "Thames Valley",
                                "codes": {
                                    "admin_district": "E07000179",
                                    "admin_county": "E10000025",
                                    "admin_ward": "E05012854",
                                    "parish": "E04012864",
                                    "parliamentary_constituency": "E14000742",
                                    "ccg": "E38000136",
[...]
